*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
    --image1: url('./images/desktop-image-hero-1.jpg') no-repeat;
    --image2: url('./images/desktop-image-hero-2.jpg') no-repeat;
    --image3: url('./images/desktop-image-hero-3.jpg') no-repeat;
}


a{
    text-decoration: none;
    color: inherit;
}

p{
    color: var(--Dark-Gray);
}
title{
    display: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: .5em;
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.header{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 400px;
    max-width: 1400px;
    height: 5em;
    background: transparent;
    z-index: 2;
}
.header__hamburger{
    display: none;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    color: white;
}
.header__nav ul{list-style: none;}
.header__nav a{
    margin: 1em; 
    position: relative;
    overflow: hidden;
}
.header__nav a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -1px;
    left: -100%;
    background: white;
    transition: .15s ease-in;
}
.header__nav a:hover::after{
    left: 0;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero__carrusel{
    grid-area: carrusel;
    position: relative;
    transition: 2s ease-in-out;
}
.hero__carrusel--images{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#carrusel{
    display: flex;
    transition: 1s ease-in-out;
}
.hero__carrusel--images div{
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 100%;
    background-size: 100% 100% !important;
    background-position: center;
}

.hero__carrusel--container :nth-child(1){background: var(--image1);}
.hero__carrusel--container :nth-child(2){background: var(--image2);}
.hero__carrusel--container :nth-child(3){background: var(--image3);}

.hero__carrusel--controller{
    position: absolute;
    display: flex;
    right: -150px;
    bottom: 0;
    width: 150px;
    height: 75px;
    z-index: 9 ;
}
@media (max-width: 1100px) {
    .hero__carrusel--controller{
        right: 0;
    }
}
.hero__carrusel--controller button{
    width: 50%;
    background: var(--Black);
    border: none;
    color: white;
    cursor: pointer;
}
.hero__carrusel--controller button:hover{
    background: var(--Very-Dark-Gray);
}

.hero__description{
    grid-area: description;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 55%;
    overflow: hidden;
    position: relative;
    
}

@media (max-width: 1100px) {
    .hero__description{
        height: 350px;
    }
    .hero__description--text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        min-height: 350px !important;
    }
}
.hero__description--carrusel{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: 1s ease-out;
}
.hero__description--text{
    height: 100%;
    min-height: 275px;
}


.hero__description--button{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    letter-spacing: 12px;
    color: var(--Black);
}
.hero__description--button img{
    margin-left: 10px;
    transition: .4s ease-in-out;
}
.hero__description--button:hover > img{
    transform: translateX(10px);
 
}

.hero__bottom{
    grid-area: up;
    display: flex;
}

.hero__bottom--img{
    width: 29%;
}
.hero__bottom--img img{
    width: 100%;
    height: 100%;
}
.hero__bottom--about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
}
.hero__bottom--about > *{
width: 75%;
}
.hero__bottom--about h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: .5em;
}

@media(min-width: 1100px){
    .hero{
        display: grid;
        width: 100%;
        max-width: 1400px;
        height: 750px;
        min-width: 750px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "carrusel carrusel carrusel description description"
        "carrusel carrusel carrusel description description"
        "up up up up up";
    }
}



@media (max-width:890px) {
    .hero__bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr .5fr;
        margin: 2em;
        grid-gap: 1em;
    }
    .hero__bottom--img{
        width: 100%;
    }
    .hero__bottom--about{
        grid-row: 2/3;
        grid-column: 1/3;
        width: 100%;
    }
    .hero__bottom--about > *{
        width: 100%;
    }
}

@media (max-width:550px){
    :root{
        --image1: url('./images/mobile-image-hero-1.jpg') no-repeat;
        --image2: url('./images/mobile-image-hero-2.jpg') no-repeat;
        --image3: url('./images/mobile-image-hero-3.jpg') no-repeat;
    }
    .header{
        width: 100%;
        min-width: 280px;
    }
    .header__nav{
        position: absolute;
        visibility: hidden;
        width: 100%;
        visibility: hidden;
        transition: background .4s ease-in;
    }
    .header__logo{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .header__hamburger{
        display: inherit;
        position: absolute;
        left: 30px;
        top: 2em;
        cursor: pointer;
        z-index: 99;
    }
    .header__nav-active{
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 5em;
        background: var(--Black);
    }
    .header__hamburger:hover{
        transform: scaleY(1.4);
    }
    .hero__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .hero__bottom > * {
        width: 70%;
        margin-bottom: 1.5em;
    }
    title{
        font-size: 25px;
    }
    p{font-size: 15px;}
    h1{text-align: center;}
    .hero__description--button{font-size: 1em;letter-spacing: 10px;}
}